In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot

a1 = pd.DataFrame()

a1['Число'] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a1['Квадрат'] = a1['Число']**2
a1

a2 = pd.DataFrame(a1)
a2 = a1[a1['Число']%2 == 0]
a2

   Число  Квадрат
1      2        4
3      4       16
5      6       36
7      8       64
9     10      100

In [ ]:
a2 = a2.drop(columns = 'Чис')
a2