In [2]:
import numpy
import pandas
import matplotlib.pyplot
x = pandas.DataFrame ()
a=[]
for i in range (1,11):
    a.append(i)
x.insert (0, "Число", a)
b=[]
for i in range (1,11):
    b.append(i*i)
x.insert (1, "Квадрат", b)
c = x [1::2]
c.pop("Число")
c

   Квадрат
1        4
3       16
5       36
7       64
9      100