In [72]:
# Задание на повторение материала предыдущего семестра

In [73]:
# Зависимости
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.compose import ColumnTransformer

from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet, LogisticRegression
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVR, SVC
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.cluster import KMeans

from sklearn.metrics import mean_squared_error, f1_score, silhouette_score

In [74]:
# Генерируем уникальный seed
my_code = "Saskovets"
seed_limit = 2 ** 32
my_seed = int.from_bytes(my_code.encode(), "little") % seed_limit

In [75]:
# Данные загружены отсюда: https://www.kaggle.com/dwdkills/russian-demography
# Читаем данные из файла
example_data = pd.read_csv("datasets/russian_demography.csv")

In [76]:
# "year" - год (1990-2017)
# "region" - название региона
# "npg" - естественный прирост населения на 1000 человек
# "birth_rate" - количество рождений на 1000 человек
# "death_rate" - количество смертей на 1000 человек
# "gdw" - коэффициент демографической нагрузки на 100 человек (Отношение числа нетрудоспособных к числу трудоспособных).
# "urbanization" - процент городского населения

example_data.head()

   year              region  npg  birth_rate  death_rate    gdw  urbanization
0  1990  Republic of Adygea  1.9        14.2        12.3  84.66         52.42
1  1990          Altai Krai  1.8        12.9        11.1  80.24         58.07
2  1990         Amur Oblast  7.6        16.2         8.6  69.55         68.37
3  1990  Arkhangelsk Oblast  3.7        13.5         9.8  73.26         73.63
4  1990    Astrakhan Oblast  4.7        15.1        10.4  77.05         68.01

In [77]:
# Так как список регионов меняется от года к году, в данных есть строки без значений. Удалим их
example_data.dropna(inplace=True)

In [78]:
example_data.shape

(2315, 7)

In [79]:
# Определим размер валидационной и тестовой выборок
val_test_size = round(0.2*len(example_data))
print(val_test_size)

463

In [80]:
# Создадим обучающую, валидационную и тестовую выборки
random_state = my_seed
train_val, test = train_test_split(example_data, test_size=val_test_size, random_state=random_state)
train, val = train_test_split(train_val, test_size=val_test_size, random_state=random_state)
print(len(train), len(val), len(test))

1389 463 463

In [81]:
train.head()

      year           region  npg  birth_rate  death_rate    gdw  urbanization
1877  2012   Bryansk Oblast -4.8        11.4        16.2  67.56         69.20
67    1990    Tambov Oblast -3.2        11.7        14.9  85.32         56.28
2228  2016   Irkutsk Oblast  1.4        14.8        13.4  75.82         79.00
767   1999      Amur Oblast -3.5         9.9        13.4  63.43         66.31
708   1998  Kostroma Oblast -8.8         8.0        16.8  80.98         66.07

In [82]:
# Значения в числовых столбцах преобразуем к отрезку [0,1].
# Для настройки скалировщика используем только обучающую выборку.
columns_to_scale = ['year', 'npg', 'birth_rate', 'death_rate', 'gdw', 'urbanization']

ct = ColumnTransformer(transformers=[('numerical', MinMaxScaler(), columns_to_scale)], remainder='passthrough')
ct.fit(train)

ColumnTransformer(remainder='passthrough',
                  transformers=[('numerical', MinMaxScaler(),
                                 ['year', 'npg', 'birth_rate', 'death_rate',
                                  'gdw', 'urbanization'])])

In [83]:
# Преобразуем значения, тип данных приводим к DataFrame
sc_train = pd.DataFrame(ct.transform(train))
sc_test = pd.DataFrame(ct.transform(test))
sc_val = pd.DataFrame(ct.transform(val))

In [84]:
# Устанавливаем названия столбцов
column_names = columns_to_scale + ['region']
sc_train.columns = column_names
sc_test.columns = column_names
sc_val.columns = column_names

In [85]:
sc_val

,year,npg,birth_rate,death_rate,gdw,urbanization,region
0,0.333333,0.241975,0.134199,0.558685,0.580798,0.686264,Perm Krai
1,0.518519,0.076543,0.121212,0.859155,0.504484,0.772162,Ivanovo Oblast
2,0.703704,0.417284,0.34632,0.42723,0.124319,0.537777,Chukotka Autonomous Okrug
3,0.185185,0.204938,0.112554,0.605634,0.775101,0.507529,Oryol Oblast
4,1.0,0.293827,0.151515,0.478873,0.712151,0.571821,Belgorod Oblast
...,...,...,...,...,...,...,...
458,0.111111,0.533333,0.415584,0.309859,0.780728,0.176116,Republic of Kalmykia
459,0.555556,0.444444,0.359307,0.41784,0.274486,0.537777,Nenets Autonomous Okrug
460,0.111111,0.417284,0.190476,0.286385,0.63777,0.694252,Tyumen Oblast
461,0.222222,0.25679,0.134199,0.530516,0.777915,0.399633,Krasnodar Krai
462,0.888889,0.582716,0.458874,0.262911,0.489362,0.617651,Nenets Autonomous Okrug

In [86]:
# Вспоминаем алгоритмы решения задачи регрессии
r_models = []

# Линейная регрессия
# Для использования регуляризации, вместо LinearRegression используем Lasso, Ridge или ElasticNet
# Параметр alpha - коэффициент регуляризации для Lasso и Ridge, по умолчанию равен 1
# Для ElasticNet, если регуляризация иммет вид a*L1+b*L2, то
# параметр alpha = a + b, по умолчанию равен 1
# параметр l1_ratio = a / (a + b), по умолчанию равен 0.5
r_models.append(LinearRegression())
r_models.append(Lasso(alpha=1.0))
r_models.append(Ridge(alpha=1.0))
r_models.append(ElasticNet(alpha=1.0, l1_ratio=0.5))

# K ближайших соседей
# Параметр n_neighbors - количество соседей, по умолчания равен 5
r_models.append(KNeighborsRegressor(n_neighbors=5))
r_models.append(KNeighborsRegressor(n_neighbors=10))
r_models.append(KNeighborsRegressor(n_neighbors=15))

# Метод опорных векторов
# Параметр kernel опредеяет вид ядра преобразования
r_models.append(SVR(kernel='linear'))
r_models.append(SVR(kernel='poly'))
r_models.append(SVR(kernel='rbf'))
r_models.append(SVR(kernel='sigmoid'))

# Деревья решений
# Параметр criterion - критерий качества ветвления: 'mse', 'friedman_mse', 'mae', 'poisson'
r_models.append(DecisionTreeRegressor(criterion='squared_error'))
r_models.append(DecisionTreeRegressor(criterion='friedman_mse'))
r_models.append(DecisionTreeRegressor(criterion='absolute_error'))

In [87]:
r_models

[LinearRegression(),
 Lasso(),
 Ridge(),
 ElasticNet(),
 KNeighborsRegressor(),
 KNeighborsRegressor(n_neighbors=10),
 KNeighborsRegressor(n_neighbors=15),
 SVR(kernel='linear'),
 SVR(kernel='poly'),
 SVR(),
 SVR(kernel='sigmoid'),
 DecisionTreeRegressor(),
 DecisionTreeRegressor(criterion='friedman_mse'),
 DecisionTreeRegressor(criterion='absolute_error')]

In [88]:
# Выделим предикторы и зависимую переменную
x_labels = column_names[0:-2]
y_labels = ['urbanization']

x_train = sc_train[x_labels]
x_test = sc_test[x_labels]
x_val = sc_val[x_labels]

y_train = np.ravel(sc_train[y_labels])
y_test = np.ravel(sc_test[y_labels])
y_val = np.ravel(sc_val[y_labels])

In [89]:
x_labels

['year', 'npg', 'birth_rate', 'death_rate', 'gdw']

In [90]:
y_labels

['urbanization']

In [91]:
# Обучаем модели
for model in r_models:
    print(model)
    model.fit(x_train, y_train)

LinearRegression()
Lasso()
Ridge()
ElasticNet()
KNeighborsRegressor()
KNeighborsRegressor(n_neighbors=10)
KNeighborsRegressor(n_neighbors=15)
SVR(kernel='linear')
SVR(kernel='poly')
SVR()
SVR(kernel='sigmoid')
DecisionTreeRegressor()
DecisionTreeRegressor(criterion='friedman_mse')
DecisionTreeRegressor(criterion='absolute_error')

In [92]:
# Оценииваем качество работы моделей на валидационной выборке.
mses = []
for model in r_models:
    val_pred = model.predict(x_val)
    mse = mean_squared_error(y_val, val_pred)
    mses.append(mse)
    print(model, '\t', mse)

LinearRegression() 	 0.01898293334547659
Lasso() 	 0.02877034017881211
Ridge() 	 0.01899852207589635
ElasticNet() 	 0.02877034017881211
KNeighborsRegressor() 	 0.013087315291062388
KNeighborsRegressor(n_neighbors=10) 	 0.0129047112294862
KNeighborsRegressor(n_neighbors=15) 	 0.013641589749785394
SVR(kernel='linear') 	 0.01911211708502954
SVR(kernel='poly') 	 0.013450288838660547
SVR() 	 0.012666779457184694
SVR(kernel='sigmoid') 	 31.336950673512735
DecisionTreeRegressor() 	 0.022116918310907435
DecisionTreeRegressor(criterion='friedman_mse') 	 0.02207744742704286
DecisionTreeRegressor(criterion='absolute_error') 	 0.0234678250014956

In [93]:
# Выбираем лучшую модель
i_min = mses.index(min(mses))
best_r_model = r_models[i_min]
best_r_model

SVR()

In [94]:
# Вычислим ошибку лучшей модели на тестовой выборке.
test_pred = best_r_model.predict(x_test)
mse = mean_squared_error(y_test, test_pred)
print(mse)

0.011117444245556126

In [95]:
# Вспоминаем алгоритмы решения задачи классификации
c_models = []

# Логистическая регрессия
# Параметр penalty - тип регуляризации: 'l1', 'l2', 'elasticnet', 'none'}, по умолчанию 'l2'
# Для некоторых типов регуляризации доступны не все алгоритмы (параметр solver)
# Для elasticnet регуляризации необходимо уазывать параметр l1_ratio (0 - l2, 1 - l1)
c_models.append(LogisticRegression(penalty='none', solver='saga', max_iter=500))
c_models.append(LogisticRegression(penalty='l1', solver='saga', max_iter=500))
c_models.append(LogisticRegression(penalty='l2', solver='saga'))
c_models.append(LogisticRegression(penalty='elasticnet', l1_ratio=0.5, solver='saga'))
c_models.append(LogisticRegression())

# Наивный байесовский классификатор
# Параметр alpha - параметр сглаживания, по умолчанию равен 1 (сглаживание Лапласа)
c_models.append(MultinomialNB(alpha=0.0))
c_models.append(MultinomialNB(alpha=0.5))
c_models.append(MultinomialNB(alpha=1.0))

# K ближайших соседей
# Параметр n_neighbors - количество соседей, по умолчания равен 5
c_models.append(KNeighborsClassifier(n_neighbors=5))
c_models.append(KNeighborsClassifier(n_neighbors=10))
c_models.append(KNeighborsClassifier(n_neighbors=15))

# Метод опорных векторов
# Параметр kernel опредеяет вид ядра преобразования
c_models.append(SVC(kernel='linear'))
c_models.append(SVC(kernel='poly'))
c_models.append(SVC(kernel='rbf'))
c_models.append(SVC(kernel='sigmoid'))

# Деревья решений
# Параметр criterion - критерий качества ветвления: 'gini', 'entropy'
# Параметр splitter - стартегия ветвления: 'best', 'random'
c_models.append(DecisionTreeClassifier(criterion='gini', splitter='best'))
c_models.append(DecisionTreeClassifier(criterion='gini', splitter='random'))
c_models.append(DecisionTreeClassifier(criterion='entropy', splitter='best'))
c_models.append(DecisionTreeClassifier(criterion='entropy', splitter='random'))

In [96]:
c_models

[LogisticRegression(max_iter=500, penalty='none', solver='saga'),
 LogisticRegression(max_iter=500, penalty='l1', solver='saga'),
 LogisticRegression(solver='saga'),
 LogisticRegression(l1_ratio=0.5, penalty='elasticnet', solver='saga'),
 LogisticRegression(),
 MultinomialNB(alpha=0.0),
 MultinomialNB(alpha=0.5),
 MultinomialNB(),
 KNeighborsClassifier(),
 KNeighborsClassifier(n_neighbors=10),
 KNeighborsClassifier(n_neighbors=15),
 SVC(kernel='linear'),
 SVC(kernel='poly'),
 SVC(),
 SVC(kernel='sigmoid'),
 DecisionTreeClassifier(),
 DecisionTreeClassifier(splitter='random'),
 DecisionTreeClassifier(criterion='entropy'),
 DecisionTreeClassifier(criterion='entropy', splitter='random')]

In [97]:
# Выделим предикторы и метки классов
x_labels = column_names[0:-1]
y_labels = ['region']

x_train = sc_train[x_labels]
x_test = sc_test[x_labels]
x_val = sc_val[x_labels]

y_train = np.ravel(sc_train[y_labels])
y_test = np.ravel(sc_test[y_labels])
y_val = np.ravel(sc_val[y_labels])

In [98]:
x_train

          year       npg birth_rate death_rate       gdw urbanization
0     0.814815  0.269136   0.225108   0.605634  0.528574       0.5967
1          0.0  0.308642   0.238095   0.544601  0.840865     0.427524
2     0.962963  0.422222   0.372294   0.474178  0.673817     0.725023
3     0.333333  0.301235   0.160173   0.474178  0.455952     0.558858
4     0.296296   0.17037   0.077922   0.633803  0.764551     0.555716
...        ...       ...        ...        ...       ...          ...
1384  0.925926  0.301235   0.272727   0.596244  0.718129     0.624198
1385  0.074074  0.318519   0.177489   0.460094  0.694918     0.829383
1386  0.444444  0.632099   0.428571    0.13615  0.644452     0.248789
1387  0.740741  0.318519   0.255411   0.544601  0.316687      0.73157
1388  0.259259  0.145679   0.056277   0.657277  0.775629     0.609271

[1389 rows x 6 columns]

In [99]:
# Обучаем модели
for model in c_models:
    print(model)
    model.fit(x_train, y_train)

LogisticRegression(max_iter=500, penalty='none', solver='saga')

/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/_sag.py:354: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  ConvergenceWarning,

LogisticRegression(max_iter=500, penalty='l1', solver='saga')

/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/_sag.py:354: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  ConvergenceWarning,

LogisticRegression(solver='saga')
LogisticRegression(l1_ratio=0.5, penalty='elasticnet', solver='saga')
LogisticRegression()
MultinomialNB(alpha=0.0)
MultinomialNB(alpha=0.5)

/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/naive_bayes.py:557: UserWarning: alpha too small will result in numeric errors, setting alpha = 1.0e-10
  % _ALPHA_MIN

MultinomialNB()
KNeighborsClassifier()
KNeighborsClassifier(n_neighbors=10)
KNeighborsClassifier(n_neighbors=15)
SVC(kernel='linear')
SVC(kernel='poly')
SVC()
SVC(kernel='sigmoid')
DecisionTreeClassifier()
DecisionTreeClassifier(splitter='random')
DecisionTreeClassifier(criterion='entropy')
DecisionTreeClassifier(criterion='entropy', splitter='random')

In [100]:
# Оценииваем качество работы моделей на валидационной выборке.
f1s = []
for model in c_models:
    val_pred = model.predict(x_val)
    f1 = f1_score(y_val, val_pred, average='weighted')
    f1s.append(f1)
    print(model, '\t', f1)

LogisticRegression(max_iter=500, penalty='none', solver='saga') 	 0.3420015065831022
LogisticRegression(max_iter=500, penalty='l1', solver='saga') 	 0.1609298374502804
LogisticRegression(solver='saga') 	 0.059724089977154296
LogisticRegression(l1_ratio=0.5, penalty='elasticnet', solver='saga') 	 0.08648273958267212
LogisticRegression() 	 0.059724089977154296
MultinomialNB(alpha=0.0) 	 0.017587528398852647
MultinomialNB(alpha=0.5) 	 0.01608521851937236
MultinomialNB() 	 0.015619095327518652
KNeighborsClassifier() 	 0.3668531228270845
KNeighborsClassifier(n_neighbors=10) 	 0.25980673359024276
KNeighborsClassifier(n_neighbors=15) 	 0.23610850786708606
SVC(kernel='linear') 	 0.07365346065095034
SVC(kernel='poly') 	 0.6658586013457486
SVC() 	 0.20547493802850783
SVC(kernel='sigmoid') 	 8.342680225066974e-05
DecisionTreeClassifier() 	 0.6261816618283396
DecisionTreeClassifier(splitter='random') 	 0.5884012747327723
DecisionTreeClassifier(criterion='entropy') 	 0.6500023767475005
DecisionTreeClassifier(criterion='entropy', splitter='random') 	 0.5667701346776434

In [101]:
# Выбираем лучшую модель
i_max = f1s.index(max(f1s))
best_c_model = c_models[i_max]
best_c_model

SVC(kernel='poly')

In [102]:
# Вычислим ошибку лучшей модели на тестовой выборке.
test_pred = best_c_model.predict(x_test)
f1 = f1_score(y_test, test_pred, average='weighted')
print(f1)

0.6911205224470442

In [103]:
# Вспоминаем алгоритм решения задачи кластеризации - метод k-средних
# Параметр n_clusters - количество кластеров, по умолчанию равен 8
k_models = []
k_models.append(KMeans(n_clusters=5))
k_models.append(KMeans(n_clusters=8))
k_models.append(KMeans(n_clusters=20))
k_models.append(KMeans(n_clusters=50))

In [104]:
# Выделим используемые параметры
x_labels = column_names[0:-1]
x = pd.concat([sc_train[x_labels], sc_val[x_labels], sc_test[x_labels]])
x

         year       npg birth_rate death_rate       gdw urbanization
0    0.814815  0.269136   0.225108   0.605634  0.528574       0.5967
1         0.0  0.308642   0.238095   0.544601  0.840865     0.427524
2    0.962963  0.422222   0.372294   0.474178  0.673817     0.725023
3    0.333333  0.301235   0.160173   0.474178  0.455952     0.558858
4    0.296296   0.17037   0.077922   0.633803  0.764551     0.555716
..        ...       ...        ...        ...       ...          ...
458  0.222222  0.446914    0.25974   0.305164  0.772464     0.439963
459  0.777778  0.375309   0.298701   0.483568   0.40619     0.702763
460       0.0  0.824691    0.87013   0.248826  0.797257     0.305617
461       1.0  0.612346   0.337662   0.075117  0.282574     0.786565
462  0.148148  0.244444   0.125541   0.544601  0.691577      0.75527

[2315 rows x 6 columns]

In [105]:
# Произведем кластеризацию
for model in k_models:
    model.fit(x)

In [106]:
# Оценим качество результата
sils = []
for model in k_models:
    cluster_labels = model.predict(x)
    s = silhouette_score(x, cluster_labels)
    sils.append(s)
    print(s)

0.295164264896014
0.2474607483388606
0.23671523249202236
0.23423216419796758

In [107]:
# Выбираем лучшую модель
i_max = sils.index(max(sils))
best_k_model = k_models[i_max]
print(best_k_model)
print(sils[i_max])

KMeans(n_clusters=5)
0.295164264896014

In [108]:
# Задание №1 - анализ моделей для задачи регрессии
# Общий список моделей
r_models = [
    LinearRegression(),
    Lasso(alpha=1.0),
    Lasso(alpha=0.5),
    Ridge(alpha=1.0),
    Ridge(alpha=0.5),
    ElasticNet(alpha=1.0, l1_ratio=0.5),
    ElasticNet(alpha=1.0, l1_ratio=0.25),
    ElasticNet(alpha=1.0, l1_ratio=0.75),
    ElasticNet(alpha=0.5, l1_ratio=0.5),
    ElasticNet(alpha=0.5, l1_ratio=0.25),
    ElasticNet(alpha=0.5, l1_ratio=0.75),
    KNeighborsRegressor(n_neighbors=5),
    KNeighborsRegressor(n_neighbors=10),
    KNeighborsRegressor(n_neighbors=15),
    KNeighborsRegressor(n_neighbors=20),
    KNeighborsRegressor(n_neighbors=25),
    SVR(kernel='linear'),
    SVR(kernel='poly'),
    SVR(kernel='rbf'),
    SVR(kernel='sigmoid'),
    DecisionTreeRegressor(criterion='squared_error'),
    DecisionTreeRegressor(criterion='friedman_mse'),
    DecisionTreeRegressor(criterion='absolute_error')
]

In [109]:
# Выбор моделей для задания
n = 4
random.seed(my_seed)
my_models1 = random.sample(r_models, n)
print(my_models1)

[KNeighborsRegressor(), SVR(kernel='linear'), DecisionTreeRegressor(criterion='absolute_error'), KNeighborsRegressor(n_neighbors=20)]

In [110]:
# Загрузим данные для задачи регрессии
data = pd.read_csv("datasets/weather.csv", decimal=',')
data

,water_level,precipitation,temperature,humidity,visibility,wind,weather,pressure,fire,wl_change,temp_change,pressure_change
0,468.0,0.0,24.9,31.0,100.0,4.0,0.0,993.8,4.0,-3.0,-0.3,-0.4
1,140.0,0.0,27.9,22.0,20.0,1.0,0.0,1004.1,4.0,-2.0,0.6,-1.0
2,464.0,0.0,25.6,28.0,20.0,2.0,1.0,1001.2,4.0,-7.0,-1.8,-0.3
3,467.0,0.0,26.7,26.0,100.0,3.0,0.0,992.3,4.0,-1.0,1.2,-1.3
4,138.0,0.0,29.1,22.0,20.0,1.0,0.0,1001.3,4.0,-2.0,2.5,-1.3
...,...,...,...,...,...,...,...,...,...,...,...,...
1434,474.0,0.1,6.4,95.0,4.0,1.0,3.0,999.9,4.0,-1.0,5.9,1.5
1435,65.0,0.0,6.4,93.0,10.0,4.0,3.0,983.9,4.0,-1.0,5.2,3.1
1436,159.0,0.1,8.5,83.0,10.0,2.0,1.0,969.7,4.0,1.0,1.4,1.9
1437,99.0,0.1,7.5,91.0,10.0,3.0,3.0,995.4,4.0,-4.0,2.7,1.7
1438,227.0,0.3,6.9,79.0,10.0,7.0,4.0,990.4,4.0,-1.0,1.3,1.7

In [111]:
# Зависимая переменная для всех одна и та же. Предикторы выбираем случайнм образом.
columns = list(data.columns)
n_x = 5

y_label = 'water_level'
x_labels = random.sample(columns[1:], n_x)

print(x_labels)

['precipitation', 'pressure_change', 'temp_change', 'temperature', 'visibility']

In [112]:
# Преобразуйте значения всех необходимых параметров к отрезку [0,1].
# Решите получившуюся задачу регрессии с помощью выбранных моделей и сравните их эффективность.
# Укажите, какая модель решает задачу лучше других.

data = data.drop(['humidity','wind', 'weather','pressure','fire','wl_change'],axis=1)

In [113]:
data

,water_level,precipitation,temperature,visibility,temp_change,pressure_change
0,468.0,0.0,24.9,100.0,-0.3,-0.4
1,140.0,0.0,27.9,20.0,0.6,-1.0
2,464.0,0.0,25.6,20.0,-1.8,-0.3
3,467.0,0.0,26.7,100.0,1.2,-1.3
4,138.0,0.0,29.1,20.0,2.5,-1.3
...,...,...,...,...,...,...
1434,474.0,0.1,6.4,4.0,5.9,1.5
1435,65.0,0.0,6.4,10.0,5.2,3.1
1436,159.0,0.1,8.5,10.0,1.4,1.9
1437,99.0,0.1,7.5,10.0,2.7,1.7
1438,227.0,0.3,6.9,10.0,1.3,1.7

In [114]:
data.shape
val_test_size = round(0.2*len(data))
print(val_test_size)

288

In [115]:
random_state = my_seed
train_val, test = train_test_split(data, test_size=val_test_size, random_state=random_state)
train, val = train_test_split(train_val, test_size=val_test_size, random_state=random_state)
print(len(train), len(val), len(test))

863 288 288

In [116]:
train.head()

,water_level,precipitation,temperature,visibility,temp_change,pressure_change
480,106.0,0.8,8.8,20.0,1.1,-0.2
1007,11.0,0.0,18.8,20.0,-0.1,0.3
213,70.0,0.0,12.9,20.0,1.2,0.6
788,838.0,0.0,-0.8,20.0,0.0,1.2
771,669.0,0.0,13.5,1.0,1.7,-1.8

In [117]:
columns_to_scale = ['pressure_change', 'temp_change', 'visibility', 'temperature', 'precipitation']

ct = ColumnTransformer(transformers=[('numerical', MinMaxScaler(), columns_to_scale)], remainder='passthrough')
ct.fit(train)

ColumnTransformer(remainder='passthrough',
                  transformers=[('numerical', MinMaxScaler(),
                                 ['pressure_change', 'temp_change',
                                  'visibility', 'temperature',
                                  'precipitation'])])

In [118]:
sc_train = pd.DataFrame(ct.transform(train))
sc_test = pd.DataFrame(ct.transform(test))
sc_val = pd.DataFrame(ct.transform(val))
column_names = columns_to_scale + ['water_level']
sc_train.columns = column_names
sc_test.columns = column_names
sc_val.columns = column_names
sc_val

,pressure_change,temp_change,visibility,temperature,precipitation,water_level
0,0.340426,0.446281,0.2,0.692308,0.000,883.0
1,0.638298,0.409091,0.2,0.574661,0.080,239.0
2,0.425532,0.561983,0.2,0.855204,0.000,118.0
3,0.510638,0.537190,0.2,0.533937,0.012,165.0
4,0.425532,0.384298,0.2,0.131222,0.000,219.0
...,...,...,...,...,...,...
283,0.436170,0.425620,0.1,0.384615,0.000,116.0
284,0.361702,0.590909,0.1,0.563348,0.000,370.0
285,0.351064,0.586777,0.1,0.531674,0.000,503.0
286,0.680851,0.619835,1.0,0.450226,0.000,671.0
287,0.425532,0.338843,1.0,0.628959,0.000,332.0

In [119]:
r_models = []

r_models.append(ElasticNet(alpha=0.5))
r_models.append(ElasticNet(alpha=0.5, l1_ratio=0.75))

r_models.append(SVR())

r_models.append(Ridge())
r_models

[ElasticNet(alpha=0.5), ElasticNet(alpha=0.5, l1_ratio=0.75), SVR(), Ridge()]

In [120]:
x_labels = column_names[0:-1]
y_labels = ['water_level']

x_train = sc_train[x_labels]
x_test = sc_test[x_labels]
x_val = sc_val[x_labels]

y_train = np.ravel(sc_train[y_labels])
y_test = np.ravel(sc_test[y_labels])
y_val = np.ravel(sc_val[y_labels])

In [121]:
for model in r_models:
    print(model)
    model.fit(x_train, y_train)

ElasticNet(alpha=0.5)
ElasticNet(alpha=0.5, l1_ratio=0.75)
SVR()
Ridge()

In [122]:
mses = []
for model in r_models:
    val_pred = model.predict(x_val)
    mse = mean_squared_error(y_val, val_pred)
    mses.append(mse)
    print(model, '\t', mse)

ElasticNet(alpha=0.5) 	 46347.13303955703
ElasticNet(alpha=0.5, l1_ratio=0.75) 	 46257.20583360571
SVR() 	 48617.195601412765
Ridge() 	 45453.21072355038

In [123]:
i_min = mses.index(min(mses))
best_r_model = r_models[i_min]
best_r_model

Ridge()

In [124]:
test_pred = best_r_model.predict(x_test)
mse = mean_squared_error(y_test, test_pred)
print(mse)

43902.16327920741

In [125]:
# Задание №2 - анализ моделей для задачи классификации
# Общий список моделей
c_models = [
    LogisticRegression(penalty='none', solver='saga'),
    LogisticRegression(penalty='l1', solver='saga'),
    LogisticRegression(penalty='l2', solver='saga'),
    LogisticRegression(penalty='elasticnet', l1_ratio=0.25, solver='saga'),
    LogisticRegression(penalty='elasticnet', l1_ratio=0.5, solver='saga'),
    LogisticRegression(penalty='elasticnet', l1_ratio=0.75, solver='saga'),
    LogisticRegression(),
    MultinomialNB(alpha=0.0),
    MultinomialNB(alpha=0.25),
    MultinomialNB(alpha=0.5),
    MultinomialNB(alpha=0.75),
    MultinomialNB(alpha=1.0),
    KNeighborsClassifier(n_neighbors=5),
    KNeighborsClassifier(n_neighbors=10),
    KNeighborsClassifier(n_neighbors=15),
    KNeighborsClassifier(n_neighbors=20),
    KNeighborsClassifier(n_neighbors=25),
    SVC(kernel='linear'),
    SVC(kernel='poly'),
    SVC(kernel='rbf'),
    SVC(kernel='sigmoid'),
    DecisionTreeClassifier(criterion='gini', splitter='best'),
    DecisionTreeClassifier(criterion='gini', splitter='random'),
    DecisionTreeClassifier(criterion='entropy', splitter='best'),
    DecisionTreeClassifier(criterion='entropy', splitter='random')
]

In [126]:
# Выбор моделей для задания
n = 5
my_models2 = random.sample(c_models, n)
print(my_models2)

[KNeighborsClassifier(), LogisticRegression(penalty='l1', solver='saga'), LogisticRegression(solver='saga'), MultinomialNB(alpha=0.75), KNeighborsClassifier(n_neighbors=10)]

In [127]:
# Загрузим данные для задачи классификации
newdata = pd.read_csv("datasets/zoo2.csv")
newdata

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,turtle,0,0,1,0,0,1,0,0,1,1,0,0,4,1,1,1,3
1,chameleon,0,0,1,0,0,0,0,1,1,1,0,0,4,1,1,0,3
2,iguana,0,0,1,0,0,0,1,1,1,1,0,0,4,1,1,1,3
3,lizard,0,0,1,0,0,0,1,1,1,1,0,0,4,1,0,0,3
4,gecko,0,0,1,0,0,0,0,1,1,1,0,0,4,1,1,0,3
5,python,0,0,1,0,0,0,1,1,1,1,1,0,0,1,0,1,3
6,boa,0,0,1,0,0,0,1,1,1,1,0,0,0,1,0,1,3
7,adder,0,0,1,0,0,0,1,1,1,1,1,0,0,1,0,1,3
8,crocodile,0,0,1,0,0,1,1,1,1,1,0,0,4,1,0,1,3
9,alligator,0,0,1,0,0,1,1,1,1,1,0,0,4,1,0,1,3
10,gharial,0,0,1,0,0,1,1,1,1,1,0,0,4,1,0,1,3
11,skink,0,0,1,0,0,0,0,1,1,1,0,0,4,1,0,0,3
12,anchovy,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,4
13,flounder,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
14,halibut,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
15,mackerel,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
16,barracuda,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,1,4
17,marlin,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
18,trout,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
19,salamander,0,0,1,0,0,1,0,1,1,1,0,0,4,1,1,0,5
20,siren,0,0,1,0,0,1,0,1,1,1,0,0,2,1,0,0,5
21,tree frog,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
22,dart frog,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
23,firebelly,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
24,wart toad,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
25,mosquito,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
26,hornet,0,0,1,0,1,0,1,0,0,1,1,0,6,0,0,0,6
27,cricket,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
28,beetle,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
29,butterfly,1,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
30,palmetto,0,0,1,0,1,0,1,0,0,1,0,0,6,0,0,0,6
31,cockroach,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
32,mantis,0,0,1,0,0,0,1,0,0,1,0,0,6,0,0,0,6
33,dragonfly,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
34,aphid,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
35,cicada,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
36,antlion,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
37,scallop,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,7
38,spider,0,0,1,0,0,0,1,1,0,1,1,0,8,0,0,0,7
39,snail,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
40,silkworm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
41,jellyfish,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,7
42,squid,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,7

In [128]:
# Метка класса для всех одна и та же. Параметры выбираем случайнм образом.
columns = list(newdata.columns)
n_x = 8

y_newlabel = 'class_type'
x_newlabels = random.sample(columns[1:-1], n_x)

print(x_newlabels)

['predator', 'breathes', 'eggs', 'hair', 'catsize', 'toothed', 'feathers', 'fins']

In [129]:
labels = x_newlabels.copy()
labels.append(y_newlabel)
temp_data = newdata[labels]
sec_data = temp_data

In [130]:
sec_data

,predator,breathes,eggs,hair,catsize,toothed,feathers,fins,class_type
0,0,1,1,0,1,0,0,0,3
1,0,1,1,0,0,1,0,0,3
2,1,1,1,0,1,1,0,0,3
3,1,1,1,0,0,1,0,0,3
4,0,1,1,0,0,1,0,0,3
5,1,1,1,0,1,1,0,0,3
6,1,1,1,0,1,1,0,0,3
7,1,1,1,0,1,1,0,0,3
8,1,1,1,0,1,1,0,0,3
9,1,1,1,0,1,1,0,0,3
10,1,1,1,0,1,1,0,0,3
11,0,1,1,0,0,1,0,0,3
12,0,0,1,0,0,0,0,1,4
13,0,0,1,0,1,0,0,1,4
14,0,0,1,0,1,0,0,1,4
15,0,0,1,0,1,0,0,1,4
16,1,0,1,0,1,1,0,1,4
17,0,0,1,0,1,0,0,1,4
18,0,0,1,0,1,0,0,1,4
19,0,1,1,0,0,1,0,0,5
20,0,1,1,0,0,1,0,0,5
21,0,1,1,0,0,1,0,0,5
22,0,1,1,0,0,1,0,0,5
23,0,1,1,0,0,1,0,0,5
24,0,1,1,0,0,1,0,0,5
25,0,1,1,0,0,0,0,0,6
26,1,1,1,0,0,0,0,0,6
27,0,1,1,0,0,0,0,0,6
28,0,1,1,0,0,0,0,0,6
29,0,1,1,1,0,0,0,0,6
30,1,1,1,0,0,0,0,0,6
31,0,1,1,0,0,0,0,0,6
32,1,1,1,0,0,0,0,0,6
33,0,1,1,0,0,0,0,0,6
34,0,1,1,0,0,0,0,0,6
35,0,1,1,0,0,0,0,0,6
36,0,1,1,0,0,0,0,0,6
37,0,0,1,0,0,0,0,0,7
38,1,1,1,0,0,1,0,0,7
39,0,1,1,0,0,0,0,0,7
40,0,1,1,0,0,0,0,0,7
41,0,0,1,0,1,0,0,0,7
42,0,0,1,0,1,0,0,0,7

In [131]:
# Преобразуйте значения всех необходимых параметров к отрезку [0,1].
# Решите получившуюся задачу классификации с помощью выбранных моделей и сравните их эффективность.
# Укажите, какая модель решает задачу лучше других.

sec_data.shape
val_test_size2 = round(0.2*len(sec_data))
print(val_test_size2)

9

In [132]:
random_state = my_seed
train_val2, test2 = train_test_split(sec_data, test_size=val_test_size2, random_state=random_state)
sec_train, val2 = train_test_split(train_val2, test_size=val_test_size2, random_state=random_state)
print(len(sec_train), len(val2), len(test2))

25 9 9

In [133]:
sec_train.head()

,predator,breathes,eggs,hair,catsize,toothed,feathers,fins,class_type
41,0,0,1,0,1,0,0,0,7
7,1,1,1,0,1,1,0,0,3
9,1,1,1,0,1,1,0,0,3
17,0,0,1,0,1,0,0,1,4
33,0,1,1,0,0,0,0,0,6

In [134]:
columns_to_scale2 = x_newlabels

ct2 = ColumnTransformer(transformers=[('numerical', MinMaxScaler(), columns_to_scale2)], remainder='passthrough')
ct2.fit(sec_train)

ColumnTransformer(remainder='passthrough',
                  transformers=[('numerical', MinMaxScaler(),
                                 ['predator', 'breathes', 'eggs', 'hair',
                                  'catsize', 'toothed', 'feathers', 'fins'])])

In [135]:
sc_train2 = pd.DataFrame(ct2.transform(sec_train))
sc_test2 = pd.DataFrame(ct2.transform(test2))
sc_val2 = pd.DataFrame(ct2.transform(val2))
column_names2 = columns_to_scale2 + ['class_type']
sc_train2.columns = column_names2
sc_test2.columns = column_names2
sc_val2.columns = column_names2
sc_val2

,predator,breathes,eggs,hair,catsize,toothed,feathers,fins,class_type
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
4,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,3.0
5,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
6,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0
7,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,4.0
8,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0

In [136]:
# Вспоминаем алгоритмы решения задачи классификации
c_models = []

# Логистическая регрессия
# Параметр penalty - тип регуляризации: 'l1', 'l2', 'elasticnet', 'none'}, по умолчанию 'l2'
# Для некоторых типов регуляризации доступны не все алгоритмы (параметр solver)
# Для elasticnet регуляризации необходимо уазывать параметр l1_ratio (0 - l2, 1 - l1)
c_models.append(LogisticRegression(penalty='l1', solver='saga'))


# K ближайших соседей
# Параметр n_neighbors - количество соседей, по умолчания равен 5
c_models.append(KNeighborsClassifier(n_neighbors=5))

# Метод опорных векторов
# Параметр kernel опредеяет вид ядра преобразования
c_models.append(SVC(kernel='sigmoid'))

# Деревья решений
# Параметр criterion - критерий качества ветвления: 'gini', 'entropy'
# Параметр splitter - стартегия ветвления: 'best', 'random'
c_models.append(DecisionTreeClassifier())
c_models.append(DecisionTreeClassifier(splitter='random'))
c_models

[LogisticRegression(penalty='l1', solver='saga'),
 KNeighborsClassifier(),
 SVC(kernel='sigmoid'),
 DecisionTreeClassifier(),
 DecisionTreeClassifier(splitter='random')]

In [137]:
x_labels2 = column_names2[0:-1]
y_labels2 = ['class_type']

x_train2 = sc_train2[x_labels2]
x_test2 = sc_test2[x_labels2]
x_val2 = sc_val2[x_labels2]

y_train2 = np.ravel(sc_train2[y_labels2])
y_test2 = np.ravel(sc_test2[y_labels2])
y_val2 = np.ravel(sc_val2[y_labels2])
x_train2

    predator  breathes  eggs  hair  catsize  toothed  feathers  fins
0        0.0       0.0   0.0   0.0      1.0      0.0       0.0   0.0
1        1.0       1.0   0.0   0.0      1.0      1.0       0.0   0.0
2        1.0       1.0   0.0   0.0      1.0      1.0       0.0   0.0
3        0.0       0.0   0.0   0.0      1.0      0.0       0.0   1.0
4        0.0       1.0   0.0   0.0      0.0      0.0       0.0   0.0
5        1.0       0.0   0.0   0.0      1.0      1.0       0.0   1.0
6        0.0       1.0   0.0   0.0      0.0      0.0       0.0   0.0
7        0.0       1.0   0.0   0.0      0.0      1.0       0.0   0.0
8        0.0       1.0   0.0   0.0      0.0      0.0       0.0   0.0
9        1.0       1.0   0.0   0.0      0.0      0.0       0.0   0.0
10       0.0       1.0   0.0   0.0      0.0      0.0       0.0   0.0
11       0.0       1.0   0.0   0.0      0.0      1.0       0.0   0.0
12       0.0       1.0   0.0   0.0      0.0      1.0       0.0   0.0
13       0.0       1.0   0.0   0.0      0.0      0.0       0.0   0.0
14       0.0       1.0   0.0   0.0      0.0      1.0       0.0   0.0
15       0.0       0.0   0.0   0.0      0.0      0.0       0.0   1.0
16       0.0       1.0   0.0   0.0      1.0      0.0       0.0   0.0
17       1.0       1.0   0.0   0.0      0.0      1.0       0.0   0.0
18       1.0       1.0   0.0   0.0      1.0      1.0       0.0   0.0
19       0.0       0.0   0.0   0.0      1.0      0.0       0.0   0.0
20       1.0       1.0   0.0   0.0      1.0      1.0       0.0   0.0
21       1.0       1.0   0.0   0.0      0.0      0.0       0.0   0.0
22       0.0       1.0   0.0   0.0      0.0      0.0       0.0   0.0
23       0.0       0.0   0.0   0.0      1.0      0.0       0.0   1.0
24       1.0       1.0   0.0   0.0      0.0      0.0       0.0   0.0

In [138]:
# Обучаем модели
for model2 in c_models:
    print(model2)
    model2.fit(x_train2, y_train2)

LogisticRegression(penalty='l1', solver='saga')
KNeighborsClassifier()
SVC(kernel='sigmoid')
DecisionTreeClassifier()
DecisionTreeClassifier(splitter='random')

In [139]:
# Оценииваем качество работы моделей на валидационной выборке.
f1s = []
for model2 in c_models:
    val_pred2 = model2.predict(x_val2)
    f1 = f1_score(y_val2, val_pred2, average='weighted')
    f1s.append(f1)
    print(model2, '\t', f1)

LogisticRegression(penalty='l1', solver='saga') 	 0.5388888888888889
KNeighborsClassifier() 	 0.5388888888888889
SVC(kernel='sigmoid') 	 0.7227513227513227
DecisionTreeClassifier() 	 0.7227513227513227
DecisionTreeClassifier(splitter='random') 	 0.7227513227513227

In [140]:
# Выбираем лучшую модель
i_max = f1s.index(max(f1s))
best_c_model = c_models[i_max]
best_c_model

SVC(kernel='sigmoid')

In [141]:
# Вычислим ошибку лучшей модели на тестовой выборке.
test_pred2 = best_c_model.predict(x_test2)
f1 = f1_score(y_test2, test_pred2, average='weighted')
print(f1)

0.4444444444444444

In [142]:
# Вспоминаем алгоритм решения задачи кластеризации - метод k-средних
# Параметр n_clusters - количество кластеров, по умолчанию равен 8
k_models = []
k_models.append(KMeans(n_clusters=5))
k_models.append(KMeans(n_clusters=8))
k_models.append(KMeans(n_clusters=20))
k_models.append(KMeans(n_clusters=40))

In [143]:
# Выделим используемые параметры
x_labels2 = column_names2[0:-1]
x_data2 = pd.concat([sc_train2[x_labels2], sc_val2[x_labels2], sc_test2[x_labels2]])
x_data2

    predator  breathes  eggs  hair  catsize  toothed  feathers  fins
0        0.0       0.0   0.0   0.0      1.0      0.0       0.0   0.0
1        1.0       1.0   0.0   0.0      1.0      1.0       0.0   0.0
2        1.0       1.0   0.0   0.0      1.0      1.0       0.0   0.0
3        0.0       0.0   0.0   0.0      1.0      0.0       0.0   1.0
4        0.0       1.0   0.0   0.0      0.0      0.0       0.0   0.0
5        1.0       0.0   0.0   0.0      1.0      1.0       0.0   1.0
6        0.0       1.0   0.0   0.0      0.0      0.0       0.0   0.0
7        0.0       1.0   0.0   0.0      0.0      1.0       0.0   0.0
8        0.0       1.0   0.0   0.0      0.0      0.0       0.0   0.0
9        1.0       1.0   0.0   0.0      0.0      0.0       0.0   0.0
10       0.0       1.0   0.0   0.0      0.0      0.0       0.0   0.0
11       0.0       1.0   0.0   0.0      0.0      1.0       0.0   0.0
12       0.0       1.0   0.0   0.0      0.0      1.0       0.0   0.0
13       0.0       1.0   0.0   0.0      0.0      0.0       0.0   0.0
14       0.0       1.0   0.0   0.0      0.0      1.0       0.0   0.0
15       0.0       0.0   0.0   0.0      0.0      0.0       0.0   1.0
16       0.0       1.0   0.0   0.0      1.0      0.0       0.0   0.0
17       1.0       1.0   0.0   0.0      0.0      1.0       0.0   0.0
18       1.0       1.0   0.0   0.0      1.0      1.0       0.0   0.0
19       0.0       0.0   0.0   0.0      1.0      0.0       0.0   0.0
20       1.0       1.0   0.0   0.0      1.0      1.0       0.0   0.0
21       1.0       1.0   0.0   0.0      0.0      0.0       0.0   0.0
22       0.0       1.0   0.0   0.0      0.0      0.0       0.0   0.0
23       0.0       0.0   0.0   0.0      1.0      0.0       0.0   1.0
24       1.0       1.0   0.0   0.0      0.0      0.0       0.0   0.0
0        0.0       1.0   0.0   0.0      0.0      0.0       0.0   0.0
1        0.0       1.0   0.0   0.0      0.0      1.0       0.0   0.0
2        0.0       1.0   0.0   0.0      0.0      0.0       0.0   0.0
3        0.0       0.0   0.0   0.0      0.0      0.0       0.0   0.0
4        1.0       1.0   0.0   0.0      1.0      1.0       0.0   0.0
5        0.0       1.0   0.0   0.0      0.0      0.0       0.0   0.0
6        0.0       1.0   0.0   0.0      0.0      1.0       0.0   0.0
7        0.0       0.0   0.0   0.0      1.0      0.0       0.0   1.0
8        0.0       1.0   0.0   0.0      0.0      0.0       0.0   0.0
0        0.0       1.0   0.0   0.0      0.0      1.0       0.0   0.0
1        0.0       1.0   0.0   0.0      0.0      1.0       0.0   0.0
2        1.0       1.0   0.0   0.0      1.0      1.0       0.0   0.0
3        0.0       1.0   0.0   0.0      0.0      1.0       0.0   0.0
4        1.0       1.0   0.0   0.0      1.0      1.0       0.0   0.0
5        0.0       1.0   0.0   1.0      0.0      0.0       0.0   0.0
6        1.0       1.0   0.0   0.0      0.0      1.0       0.0   0.0
7        0.0       0.0   0.0   0.0      1.0      0.0       0.0   1.0
8        0.0       0.0   0.0   0.0      1.0      0.0       0.0   1.0

In [144]:
# Произведем кластеризацию
for model2 in k_models:
    model2.fit(x_data2)

/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:3: ConvergenceWarning: Number of distinct clusters (12) found smaller than n_clusters (20). Possibly due to duplicate points in X.
  This is separate from the ipykernel package so we can avoid doing imports until
/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:3: ConvergenceWarning: Number of distinct clusters (12) found smaller than n_clusters (40). Possibly due to duplicate points in X.
  This is separate from the ipykernel package so we can avoid doing imports until

In [145]:
# Оценим качество результата
sils = []
for model2 in k_models:
    cluster_labels = model2.predict(x_data2)
    s = silhouette_score(x_data2, cluster_labels)
    sils.append(s)
    print(s)

0.7048551679759072
0.8214280802286732
0.8837209302325582
0.8837209302325582

In [146]:
# Выбираем лучшую модель
i_max = sils.index(max(sils))
best_k_model = k_models[i_max]
print(best_k_model)
print(sils[i_max])

KMeans(n_clusters=20)
0.8837209302325582